

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    line-height: 1.4;
    font-family: sans-serif;
}

main {
    border: 2px solid #6b5c4e;
}

h1 {
    font-size: 1.8rem;
    background-color: var(--header-color);
    padding: 0 0.7rem;
}

h2 {
    padding: 0.7rem;
    font-size: 1.6rem;
    background-color: var(--header-color);
}


h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.2rem;
}

p {
    font-size: 1.2rem;
}

product-list:defined > h2 {
    display: flex;
    justify-content: center;
}

single-product {
    padding: 0.2rem 0.7rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

single-product {
    div {
        display: flex;
        flex-direction: column;
    }
}

single-product:defined {
    padding: 1.2rem, 0.9rem;
    color: #343434;
    border-top: solid 2px #b8824f;
}

.single-wrapper:nth-of-type(2n) {
    background-color: var(--row-color);
}

:root {
    --row-color: #eecdae;
    --header-color: #eaa665;
}
