
a.button {
    border: 2px solid #6f6f6f;
}

.button {
    background-image: linear-gradient(#eee 50%, lighten($button-blue, 25%));
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
    font-size: 1.4rem;
    padding: 0.4rem 1rem;
    text-align: center;
    border-radius: 0.2rem;
    line-height: 1.4;
    text-decoration: none;
    margin-bottom: 1.4rem;
    color: $body-font-color;

    &:hover {
        background-image: linear-gradient(darken(#eee, 5%), darken($button-blue, 5%));
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
    }

    &:active {
        background-color: $clicked-button-blue;
        background-image: none;
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
    }
}

.button-register {
    // background-image: linear-gradient(#eee, 50%, lighten($button-blue, 50%));
    background-image: none;
    background-color: $brighter-orange !important;

    &:hover {
        background-image: linear-gradient(darken(#ffd587, 5%), darken($brighter-orange, 5%));
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
    }

    &:active {
        background-color: darken($brighter-orange, 15%);
        background-image: none;
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
    }
}

.hide-button {
    display: none;
}

.wide-button {
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    z-index: 1030;
    margin-bottom: 2.6rem;
    width: 95%;
    left: 2.5%;
    color: $body-font-color;
}

.make-space-button-sticky {
    margin-top: 3.4rem;
}
