form {
    margin: 0.7rem;
    display: flex;
    flex-direction: column;
}

.input {
    font-size: $body-font-size;
    line-height: $line-height;
    font-family: $font-body;
    display: block;
    border: 1px solid #ccc;
    border-radius: 0.2rem;
    padding: 0.6rem 0.6rem;
    box-sizing: border-box;
    width: 32rem;
    margin-bottom: 1.4rem;
    
    &:valid {
        border: 1px solid $button-blue;
    }
    
    &:invalid {
        border: 1px solid red;
    }
}

.input-label {
    font-weight: bold;
    margin: 0.8rem 0 0 0;
    display: block;

    &:first-of-type {
        margin: 1rem 0 0 0;
    }

    &::after {
        content: ":";
    }
}

@media (max-width: 667px) {
    .input {
        width: 100%;
    }
}